@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h2>Details For @Model.MachineName</h2>

@if (Model.JoinEntities.Count == 0)
{
  <p>The Machine currently has no Engineers' assigned to it.</p>
}

<ul>
  @foreach (var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Engineer.Name}", "Details" ,"Engineers", new { id = join.Engineer.EngineerId})</li>
    @using (Html.BeginForm("RemoveEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Remove"/>
    }
  }
</ul>

<p>@Html.ActionLink("Add an Engineer to this Machine", "AddEngineer", new {id = Model.MachineId })</p>
<p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("See all Machines", "Index", "Machines")</p>
<p>@Html.ActionLink("See All Engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>